@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto|Lexend+Zetta:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lexend-zetta: "Lexend Zetta";
  --btn-text: Roboto;
  --text-p: "Roboto Condensed";

  /* font sizes */
  --text-p-size: 0.75rem;
  --btn-text-size: 0.88rem;

  /* Colors */
  --white: #fffff4;
  --grey-txt: #2d2d2d;
  --white-txt: #ededed;
  --orange-btn: #ffac5f;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-xl: 20px;
}

/* media */
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}
