@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto|Montserrat|Lexend+Zetta:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lexend-zetta: "Lexend Zetta";
  --font-montserrat: Montserrat;
  --btn-text: Roboto;
  --text-p: "Roboto Condensed";

  /* font sizes */
  --text-p-size: 0.75rem;
  --btn-text-size: 0.88rem;
  --h22-size: 1rem;

  /* Colors */
  --white: #fffff4;
  --color-white: #fff;
  --color-darkgray: #9e9e9e;
  --color-gainsboro: #e0e0e0;
  --white-txt: #ededed;
  --color-linen: #fef2e5;
  --color-ghostwhite: #f7f6fe;
  --color-mintcream: #ebf9f1;
  --orange-btn: #ffac5f;
  --color-chocolate: #cd6200;
  --color-seagreen: #1f9254;
  --blue-btn: #1fa6e1;
  --whale: #2e77a1;
  --grey-txt: #2d2d2d;
  --color-gray: rgba(255, 255, 255, 0);
  --color-black: #000;

  /* Gaps */
  --gap-xs: 0.75rem;
  --gap-base: 1rem;
  --gap-5xs: 0.5rem;
  --gap-5xl: 1.5rem;

  /* Paddings */
  --padding-base: 1rem;
  --padding-5xs: 0.5rem;
  --padding-4xs: 0.56rem;
  --padding-xs: 0.75rem;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-5xs: 8px;
  --br-3xl: 22px;

  /* rdw */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  /* media */
  @media (min-width: 576px) {
    .container, .container-sm {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container, .container-sm, .container-md {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1140px;
    }
  }

}
